<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
    <div id="login-section">
        <h1>Login</h1>
        <form id="login-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <label for="PIN">PIN:</label>
                <input type="password" id="PIN" name="PIN" required>
            </div>

            <div>
                If you don't have an account, please <a href="/register" id="register-link">register here</a>.
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="log" style="white-space: pre-line;">
        
    </div>
</body>
</html>

<script>
    const form = document.getElementById('login-form');
    const log = document.getElementById('log');

    async function submitForm( username, password, PIN) {
        const url = 'http://127.0.0.1:5000/login';

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password, PIN })   
            })

            const result = await response.json();
            console.log('Result: ', result);

            if (!response.ok) {
                return result;
            }

            return result;
        } catch (error) {
            console.error('Error message: ', error.message);
        }
    }

    form.addEventListener('submit', async function(event) {
        event.preventDefault(); // Prevent the default form submission behavior

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const PIN = document.getElementById('PIN').value;
        
        const submission = await submitForm(username, password, PIN);
        
        console.log('[frontend] Submitting form: ', username, password, PIN);
        
        log.textContent = 'Submitting form: ' + username + ', ' + password + ', ' + PIN;
        log.textContent += '\n';
        log.textContent += 'Submission result: ' + JSON.stringify(submission);
        log.textContent += '\n';

        if(submission.message == 'Login successful') {
            const button = document.createElement('button');
            button.type = 'button';
            button.textContent = 'Dashboard';
            button.addEventListener('click', function() {
                window.location.href = '/dashboard';
            });

            log.appendChild(button);
        }
    });        
</script>